<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="csc315.csp.edu.contacts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Contacts">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyDAJJaTXmD0QG9gBZdG7E6eOQT17NpI5qE"/>

        <activity android:name=".AddContact">
        </activity>
        <activity android:name=".ContactDetail">
        </activity>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.CALL"/>
                <action android:name="android.intent.action.DIAL"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>